github "ReactiveX/RxSwift" == 4.5.0
github "Alamofire/Alamofire" == 4.8.2
github "Alamofire/AlamofireImage" == 3.5.2
github "SyncDB/Sync" == 4.2.1
github "SVProgressHUD/SVProgressHUD" == 2.2.5
github "zvonicek/ImageSlideshow"
github "yysskk/SwipeMenuViewController"